body,
div,
uni-app uni-ad-draw,
uni-app uni-ad-fullscreen-video,
uni-app uni-ad-interactive,
uni-app uni-ad-interstitial,
uni-app uni-ad-rewarded-video,
uni-app uni-ad,
uni-app uni-animation-view,
uni-app uni-audio,
uni-app uni-block,
uni-app uni-button,
uni-app uni-camera,
uni-app uni-canvas,
uni-app uni-checkbox-group,
uni-app uni-checkbox,
uni-app uni-cover-image,
uni-app uni-cover-view,
uni-app uni-custom-tab-bar,
uni-app uni-editor,
uni-app uni-form,
uni-app uni-icon,
uni-app uni-image,
uni-app uni-input,
uni-app uni-label,
uni-app uni-list-item,
uni-app uni-list-view,
uni-app uni-live-player,
uni-app uni-live-pusher,
uni-app uni-map,
uni-app uni-match-media,
uni-app uni-movable-area,
uni-app uni-movable-view,
uni-app uni-navigation-bar,
uni-app uni-navigator,
uni-app uni-open-data,
uni-app uni-page-meta,
/* uni-app uni-picker-view-column, */
uni-app uni-picker-view,
uni-app uni-picker,
uni-app uni-progress,
uni-app uni-radio-group,
uni-app uni-radio,
uni-app uni-rich-text,
uni-app uni-scroll-view,
uni-app uni-slider,
uni-app uni-sticky-header,
uni-app uni-sticky-section,
uni-app uni-swiper-item,
uni-app uni-swiper,
uni-app uni-switch,
uni-app uni-template,
uni-app uni-text,
uni-app uni-textarea,
uni-app uni-unicloud-db,
uni-app uni-video,
uni-app uni-view,
uni-app uni-web-view {
  box-sizing: border-box;
}
