* {
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  background: var(--el-bg-color, #fff);
  box-sizing: border-box;
}

#app.is-page {
  padding: 10px;
  box-sizing: border-box;
}

#app.is-page.is-pure {
  background: initial !important;
  padding: 0;
}
